<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Ping Pong!</title>
</head>
    <body>
        <p>Your Number: {{ result }} </p>

    </body>
</html>
