<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Ping Pong!</title>
</head>
    <body>
        <div class="container">
            <h1>Let's play Ping-Pong!</h1>
            <form action="/create">
                <div class="form-group">
                    <label for="number">Please enter a positive numeric value</label>
                    <input type="number" name="number" class="form-control">
                </div>
                <button type="submit" name="btn btn-success">Submit</button>
            </form>
            <form action='delete_numbers' method='post'>
                <button type="submit" name="btn">Clear!</button>
            </form>
            <p>Your Number: {{ newNumber.getNumber }} </p>
        </div>
    </body>
</html>
